@charset "UTF-8";

body {
    /*é responsável por definir uma distância
    interna entre um elemento e sua borda.*/
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(248, 197, 205),rgb(235, 58, 87));
}

#formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 40px;
    border-radius: 2px;
    width:280px;

}

.card-header {
    /*distância do elemento para sua própria borda*/
    padding-bottom: 50px;
    /*especifica a transparência de um elemento*/
    opacity: 0.8;
    color: #fff;
}

.card-header::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.card-content label {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
}

.card-content-area {
    padding:10px 0;
}


.card-footer {
    display: flex;
    flex-direction: column;
}

.card-footer .submit{
    width: 100%;
    height: 40px;
    background-color: #941935;
    border:none;
    color:#e1e1e1;
    margin: 10px 0;
}

.card-footer a {
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
}