@charset "UTF-8";

/* Paleta de cores
 #941935;
 #d10736
*/

body {
    /*é responsável por definir uma distância
    interna entre um elemento e sua borda.*/
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(248, 197, 205),rgb(235, 58, 87));
}

#formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 40px;
    border-radius: 2px;
    width:280px;

}

.card-header {
    /*distância do elemento para sua própria borda*/
    padding-bottom: 50px;
    /*especifica a transparência de um elemento*/
    opacity: 0.8;
    color: #fff;
}

.card-header::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.card-content label {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
}

.card-content-area {
    padding:10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

/*conf do botao entrar*/
form > .botao{
    width: 100%;
    height: 40px;
    background-color: #941935;
    border:none;
    color:#e1e1e1;
    margin: 10px 0;
}

/*conf da troca de cor do botao entrar*/
form > .botao:hover {
    background-color: #d10736;
}    

/*conf do botao troca de senha*/
form > a{
    width: 100%;
    height: 40px;
    background-color: #941935;
    
    color:#e1e1e1;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
}

/*conf da troca de cor do botao esqueci senha*/
a:hover {
    background-color: #d10736;
} 

/*conf para trocar cor do ICONE*/
.card-content-area > i{
    color: white;
    width: 40px;
    font-size: 2em;
}

.card-content-area > input{
    font-size: 1em;
    height: 100%;
    transform: translateY(-10px);
    border: 0px;
    padding: 8px;
}

